################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/v9.5.4/src/.vs/SplatDev.Umbraco.Plugin.v9.5.4/FileContentIndex
/v9.5.4/src/SplatDev.Umbraco.Plugin.Backups/build
/v9.5.4/src/SplatDev.Umbraco.Plugin.Backups/obj
/v13.1.0/src/SplatDev.Umbraco.Web/.vs/SplatDev.Umbraco.Web/DesignTimeBuild/.dtbcache.v2
/v13.1.0/src/SplatDev.Umbraco.Web/.vs/SplatDev.Umbraco.Web/FileContentIndex/30d5814f-4c71-4dae-a5f0-4ff84e7ff155.vsidx
/v13.1.0/src/SplatDev.Umbraco.Web/.vs/SplatDev.Umbraco.Web/FileContentIndex/960eb6aa-a83f-4430-ab3c-069da7bcbf6c.vsidx
/v13.1.0/src/SplatDev.Umbraco.Web/.vs/SplatDev.Umbraco.Web/FileContentIndex/9f2334bf-734a-43ec-b7d9-21acc507147b.vsidx
/v13.1.0/src/SplatDev.Umbraco.Web/.vs/SplatDev.Umbraco.Web/FileContentIndex/b206c8b3-b345-4d31-b05f-f09c3511e265.vsidx
/v13.1.0/src/SplatDev.Umbraco.Web/.vs/SplatDev.Umbraco.Web/FileContentIndex/c9d3b21f-5b4d-4885-8cff-e8fdd66216b6.vsidx
/v13.1.0/src/SplatDev.Umbraco.Web/.vs/SplatDev.Umbraco.Web/v16
/v13.1.0/src/SplatDev.Umbraco.Web/.vs/SplatDev.Umbraco.Web/v17/.futdcache.v2
/v13.1.0/src/SplatDev.Umbraco.Web/.vs/SplatDev.Umbraco.Web/v17/.suo
/v13.1.0/src/SplatDev.Umbraco.Web/SplatDev.Umbraco.Web/bin/Debug/net8.0
/v13.1.0/src/SplatDev.Umbraco.Web/SplatDev.Umbraco.Web/obj
/v13.1.0/src/SplatDev.Umbraco.Web/SplatDev.Umbraco.Web/umbraco
/v13.1.0/src/SplatDev.Umbraco.Web/SplatDev.Umbraco.Web/wwwroot/media/Database_Umbraco-v13-Backup-Plugin-Shuchita__DATE--2024-03-19---20-58-17.bak.zip
/v13.1.0/src/SplatDev.Umbraco.Web/SplatDev.Umbraco.Web/wwwroot/media/Database_Umbraco-v13-Backup-Plugin-Shuchita__DATE--2024-03-19---20-58-57.bak.zip
/v13.1.0/src/SplatDev.Umbraco.Web/SplatDev.Umbraco.Web/wwwroot/media/Files_DATE--2024-03-19---20-57-53.files.zip
/v13.2.0/src/.vs/SplatDev.Umbraco.Plugin.v13.2.0
/v13.2.0/src/SplatDev.Umbraco.Plugin.Backups/bin/Debug
/v13.2.0/src/SplatDev.Umbraco.Plugin.Backups/obj
/v13.2.0_v1/src/SplatDev.Umbraco.Web/.vs
/v9.5.4/src/.vs/ProjectEvaluation/splatdev.umbraco.plugin.v9.5.4.metadata.v7.bin
/v9.5.4/src/.vs/ProjectEvaluation/splatdev.umbraco.plugin.v9.5.4.projects.v7.bin
/v9.5.4/src/.vs/SplatDev.Umbraco.Plugin.v9.5.4/v17/.futdcache.v2
/v9.5.4/src/.vs/SplatDev.Umbraco.Plugin.v9.5.4/v17/.suo
/v9.5.4/src/.vs/SplatDev.Umbraco.Plugin.v9.5.4/v17/DocumentLayout.json
/v9.5.4/src/.vs/SplatDev.Umbraco.Plugin.v9.5.4/v17/fileList.bin
